{%extends "layout.html"%}
{%block heading%}
Book Details
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock%}

{%block body%}
<ul>
    <li>Title:{{title}}</li>
    <li>Author:{{author}}</li>
    <li>Year:{{year}}</li>
    <li>ISBN:{{book["books"][0]['isbn']}}</li>
    <li>Review Count:{{book["books"][0]['work_ratings_count']}}</li>
    <li>Average Score:{{book["books"][0]['average_rating']}}</li>
</ul>

<div>
  <p>Your Rating:{{rating}}</p>
  <p>{{comment}}</p>
</div>

<form action="{{url_for('get_book_detail',isbn=book['books'][0]['isbn'])}}" method="POST">
    <p>Review:</p>
    <div class="form-check-inline">
      <input class="form-check-inline" id="checkbox1" type="checkbox" value="option1" name="rating">
      <label class="form-check-label" for="form-check-inline">1</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-inline" id="checkbox2" type="checkbox" value="option2" name="rating">
      <label class="form-check-label" for="form-check-inline">2</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-inline" id="checkbox3" type="checkbox" value="option3" name="rating">
      <label class="form-check-label" for="form-check-inline">3</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-inline" id="checkbox4" type="checkbox" value="option4" name="rating">
      <label class="form-check-label" for="form-check-inline">4</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-inline" id="checkbox5" type="checkbox" value="option5" name="rating">
      <label class="form-check-label" for="form-check-inline">5</label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" aria-describedby="commentHelp" name="comment">
      <small id="commentHelp" class="form-text text-muted">Leave Your Comments</small>
    </div>
    <div><button type="submit" class="btn btn-primary">Submit</button></div>
</form>
{%endblock%}

